<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxAsAZQb96VTDfDxQAW7112l6vU_6RKXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>854976838323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.botlab.calculator</string>
	<key>PROJECT_ID</key>
	<string>revenuecat-anahtar</string>
	<key>STORAGE_BUCKET</key>
	<string>revenuecat-anahtar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854976838323:ios:40b2b9e3d0941bf0b54ec6</string>
</dict>
</plist>